page-video-player {
  @media screen and (orientation:portrait) {
    /* Portrait styles */
    .vid {
      width: 60%;
      min-height: 400px;
    }
  }
  /* Landscape */
  @media screen and (orientation:landscape) {
    /* Landscape styles */
    /* show your content*/
    .vid {
      width: 100%;
      height: 100%;
    }
  }
}

.rulesVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}




