page-home {

}
.background {
  background: url("../assets/imgs/splash.jpg");
  background-size: 100% 100% !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



