.credits-button {
  border-color: transparent;
  background-color: #0aa6ce;
  color: #fff;
  position: absolute;
  width: 9%;
  bottom: 0;
  right: 0;
}

.nextButton {
  border-color: transparent;
  background-color: #0aa6ce;
  color: #fff;
  position: absolute;
  width: 9%;
  top: 0;
  right: 0;
}

.backButton {
  border-color: transparent;
  background-color: #0aa6ce;
  color: #fff;
  position: absolute;
  width: 9%;
  top: 0%;
  left: 0%;
}

.answerButton {
  display:inline-block;
  border-color: transparent;
  background-color: #0aa6ce;
  color: #fff;
  width: 49%;
  height:22%;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 800;
}

.colorBlue {
  color: #0aa6ce;
}

.scroll-content {
  overflow-y: hidden;
}

.icons {
  font-size: 700%;
}

.iconsSmall {
  font-size: 400%;
}

.backgroundColor {
  background-color: #f9f5ef;
}

